		{{#section 'css'}}
        <link rel="stylesheet" href="/assets/css/contacts.css">
        {{/section}}
        <div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-7 col-md-7">
					<h2><strong>CONTACT</strong></h2>
					<br>
					<span>If you have any questions about our wines or services, please do not hesitate to call us directly by phone or send us an email and we will be pleased to answer all of your questions. We are also at your disposal for any type of contract or purchase.</span>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12 col-sm-7 col-md-7">
					<div class="contact-card">
						<span><h3><strong>CONTACT US</strong></h3></span>
						<hr>
						<span><span class="glyphicon glyphicon-map-marker"></span>
						227, Nguyen Van Cu St., District 5, Ho Chi Minh City
					</span>
					<br>
					<span>
						<span class="glyphicon glyphicon-earphone"></span>
					(+84) 961 813 996</span>
					<br>
					<span><span class="glyphicon glyphicon-envelope"></span>
				forevar_bodega@gmail.com</span>
				<br>
				<br>
				<span>From 9:00 a.m to 22:00 p.m</span>
			</div>
		</div>
	</div>
</div>