<div class="container text-center" style="background-color:whitesmoke">
    <h3>
        Are you sure you want to pernamently delete that?
    </h3>
    <br>
<form method="POST" action="">
    <input type="text" name="id" id="id" style="display:none">
    <button class= "btn btn-warning" type="submit">Continue</button>
    <button class= "btn btn-default"><a href="/admin/categories">Cancel</a></button>
</form>
<br>
</div>