{{#section 'css'}}
<link rel="stylesheet" href="/assets/css/admin.css"> {{/section}}
<div style="text-align:center; font-size:40px; font-weight:bold; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">&nbspAdministrator's Management</div>
<br>
<br>
<div>
    <ul class="nav nav-pills center-pills">
        <li>
            <a href="/admin/categories">Category Manager</a>
        </li>
        <li>
            <a href="/admin/brands">Brand Manager</a>
        </li>
        <li>
            <a href="/admin/products">Product Manager</a>
        </li>
        <li>
            <a href="/admin/orders">Order Manager</a>
        </li>
    </ul>
</div>
<br>
<br>