table {
    empty-cells: hide;
}
table td{
text-align: center;
padding: 40px;
}
table th{
    text-align: center;
    padding: 40px;
    }
table img{
        width:50%;
        height: 60%;
        padding-top: 20px;
    }
     #delete{
        padding: 90px;
    }

#delete i{
   font-size: 200%;
}
.sumary{
    
    text-align: right;
    font-weight: bold;
}
#sumary{
    font-weight: bold;
}
#name{
    padding-top: 90px;
}
#quantity{
    padding: 40px;
    padding-top: 90px;  
}

#amount{
    padding:40px;
    padding-top: 90px;  
}
  
#price{
    padding:40px;
    padding-top: 90px;  
}
